<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-fragment">
    <meta charset="UTF-8">
    <title>Planning de garde</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" type="text/css">
    <link rel="stylesheet" href="/css/planningdegarde.css" type="text/css">
</head>

<div th:fragment="header">
    <div class="container-fluid" id="header">
        <div class="row">
            <div class="col-2">
                <a href="/"><img src="/img/lifen-orange.svg"></a>
            </div>
            <div class="col-10">
                <h1>Planning de garde</h1>
            </div>
        </div>
    </div>
</div>